<div class="mobileRest">
	{{#Navigation}}{{>CFrameMobileRestSection}}{{/Navigation}}
	{{#Personal}}{{>CFrameMobileRestSection}}{{/Personal}}
	{{#Tools}}{{>CFrameMobileRestSection}}{{/Tools}}
	{{#Extra}}{{>CFrameMobileRestSection}}{{/Extra}}
</div>
