<div class="mobileCard">
    <div class="mobileCard-Image">
        <a href="{{href}}" title="{{text}}">
            <img src="{{image}}">
        </a>
    </div>
    <div class="mobileCard-Text">
        <a href="{{href}}" title="{{text}}">
            <span style="flex: auto;">{{text}}</span>
        </a>
    </div>
</div>

