<ul class="mobileButtons">
    {{#data-portlets}}
        {{#data-views}}{{>CFrameMobileMenuContents}}{{/data-views}}
        {{#data-namespaces}}{{>CFrameMobileMenuContents}}{{/data-namespaces}}
        {{#data-actions}}{{>CFrameMobileMenuContents}}{{/data-actions}}
    {{/data-portlets}}
</ul>
